<!DOCTYPE html>
<html>
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>

    <div id="beatles" class="col-lg-12 col-sm-12"></div> <!-- end of beatles div -->

    <!-- <div id="d3display" class="col-lg-12 col-sm-12"> -->

   <!--    <div>
        <h1><strong><%= artist.split("+").join(",").replace(/,/g, " ").toUpperCase(); %></strong> / <a href="<%= url %>" target="_blank"><span id="songTitle"><%= song.replace(/\+/g, " ").toUpperCase(); %></span></a></h1>
      </div> -->

      <div id="container" class="container" style="display:none">
       <div>
        <h1><strong><%= artist.split("+").join(",").replace(/,/g, " ").toUpperCase(); %></strong> / <a href="<%= url %>" target="_blank"><span id="songTitle"><%= song.replace(/\+/g, " ").toUpperCase(); %></span></a></h1>
      </div>
        <div id="main" role="main">
          <div id="vis"></div>
          <div id="status"></div>

          <div class="panel panel-default panel-short">
            <div class="panel-heading">
              <h2 class="panel-title">Jitter</h2>
            </div>
            <div class="panel-body">
              <form id="jitter" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
                <input id="jitter_input" type="range" min="0" max="400" value="100">
                <output id="jitter_output" name="output" for="input">0.5</output>
              </form>
            </div>
          </div>

          <div class="panel panel-default panel-short">
            <div class="panel-heading">
              <h2 class="panel-title">Overall Senti Score</h2>
            </div>
            <div class="panel-body overall" id="overall">
              <span><%= overallScore %></span>
            </div>
          </div>

          <div id="wordCount" class="col-lg-12">
            <div class="panel panel-default col-lg-4">
              <div class="panel-heading">
                <h2 class="panel-title">Unique Words</h2>
              </div>
              <div class="panel-body overall">
                <span id="uniqueWords"></span>
              </div>
            </div>

            <div class="panel panel-default col-lg-4">
              <div class="panel-heading">
                <h2 class="panel-title">Total Words</h2>
              </div>
              <div class="panel-body overall" id="totalWords">
                <span id="totalWords"></span>
              </div>
            </div>

            <div class="panel panel-default col-lg-4">
              <div class="panel-heading">
                <h2 class="panel-title">Unique Percentage</h2>
              </div>
              <div class="panel-body overall" id="uniqueWords">
                <span id="uniquePercentage"></span>
              </div>
            </div>
          </div>

          <div style="clear:both"></div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Positive Senti Score: <strong><%= posScore %></strong></h3>
            </div>
            <div class="panel-body">
              <em class="text-success" id="posWords"></em>
            </div>
          </div>

          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Negative Senti Score: <strong><%= negScore %></strong></h3>
            </div>
            <div class="panel-body">
              <em class="text-danger" id="negWords"></em>
            </div>
          </div>

        </div>
      </div> <!--! end of #container -->
 <!-- </div> -->

    <script>
      var lyrics = "<%= lyrics %>"
      var posWordsString  = "<%= posWordsString %>"
      var negWordsString = "<%= negWordsString %>"
      var posWords = posWordsString.split(",");
      var negWords = negWordsString.split(",");
      var overallScore = "<%= overallScore %>"
      var url = "<%= url %>"
      var artistImage = "<%= artistImage %>"
      console.log(url);



      // $('#beatles').css('background-image', "url('" + artistImage + "')");
    </script>

   <% include partials/footer %>
  </body>
</html>
